<template>
    <div class="list" ref="list">
        <div class="list__col" v-if="columnsArrays.length"
             v-for="(col,ind) in columnsArrays" :key="ind"
             ref="columns"
             :style="{transform: `translate3d(0,${columnsY[ind]}px,0)`, transition: columnsStart ? `all ${columsStarTimeAnim}s ease-out ${columsStarDelayAnim}s`: null}"
        >
            <div class="list__item"
                 v-for="(item,itemInd) in col" :key="itemInd"
                 :style="getItemStyle(scroll, ind, itemInd, scrollStart)"
            ></div>
        </div>
    </div>
</template>

<script>
    import TweenLite from 'gsap/TweenMax';
    import Helpers from "../tools/Helpers";

    export default {
        name: 'List',
        props: ['list', 'scroll', 'delta'],
        data() {
            return {
                columns: 3,
                columnsArrays: [],
                columnsY: [],
                columnsStart: true,
                columsStarTimeAnim: 1,
                columsStarDelayAnim: 0.5,
                columnsStartIncr: 300,
                columnsSwift: [],

                scrollStart: false,

                itemSwift: 40,


                scrollDiff: 0,


                clearItemsYTimer: null
            }
        },
        watch: {
            scroll(to, from) {
                this.setColY();

                from = from||0;

                this.scrollDiff = Math.min(Math.abs(to - from),100);
                if(!this.scrollDiff) {
                    this.scrollDiff = Math.max(Math.min(Math.abs(to - from),100), 20)
                }  else {
                    this.scrollDiff = Math.min(Math.abs(to - from),100);
                }

                this.scrolledFrom += this.scrollDiff;

                // this.scrollStart = true;
                if (this.scrollDiff > 10) {
                    this.scrollStart = true;
                } else {
                    this.scrollStart = false;
                }

                // if(this.scrollDiff > 10) {
                //     this.scrollStart = true;
                //
                // }
                clearTimeout(this.clearItemsYTimer);
                this.clearItemsYTimer = setTimeout(() => {
                    this.scrollStart = false;
                    this.scrollDiff = 0;
                    this.scrolledFrom = 0;
                },50)
            }
        },
        methods: {
            createColumnsArrays() {
                this.list.forEach((item, ind) => {
                    let column = this.columnsArrays[ind % this.columns] || (this.columnsArrays[ind % this.columns] = []);
                    column.push(item);
                })
            },
            createColumnsStart() {
                for (let i = 0; i < this.columns; i++) {
                    this.columnsY[i] = this.columnsStartIncr * (i + 1)
                }
            },
            clearColumnsStart() {
                for (let i = 0; i < this.columnsY.length; i++) {
                    this.$set(this.columnsY, i, 0);
                }
                setTimeout(() => {
                    this.columnsStart = false;
                },(this.columsStarTimeAnim + this.columsStarDelayAnim + 0.1) * 1000)
            },
            createColumnsSwift() {
                for (let i = 0; i < this.columns; i++) {
                    let incr;
                    switch (i) {
                        case 0:
                            incr = 1;
                            break;
                        case 1:
                            incr = 3;
                            break;
                        case 2:
                            incr = 2;
                            break;
                    }
                    this.columnsSwift[i] = incr * 3;
                }
            },
            setColY() {
                this.columnsY.forEach((item,ind) => {
                    this.$set(this.columnsY, ind, -this.scroll / this.list.length * this.columnsSwift[ind])
                })

            },
            getItemY(scrolled, colInd, itemInd,startItemInd) {

                let listBlockHeight = this.$refs.list.offsetHeight;
                if (this.delta === -1) {
                    if (startItemInd < itemInd) {
                        // return (this.scrolledFrom + Math.abs(this.columnsY[colInd])) * (Math.abs(startItemInd - itemInd) / this.columnsArrays[colInd].length) * (Math.abs(listBlockHeight - this.scrolledFrom)/Math.abs(listBlockHeight + this.scrolledFrom));
                        // return (this.scrolledFrom * this.scrollDiff / 100  + (Math.abs(startItemInd - itemInd) * 80))
                        return (this.scrolledFrom  * (Math.abs(startItemInd - itemInd)) / (this.columnsArrays[colInd].length - startItemInd))
                    } else {
                        return 0;
                    }
                } else {
                    if (startItemInd > itemInd) {
                        // return - (this.scrolledFrom +  Math.abs(this.columnsY[colInd])) * (Math.abs(startItemInd - itemInd) / this.columnsArrays[colInd].length) * (Math.abs(listBlockHeight - this.scrolledFrom)/Math.abs(listBlockHeight + this.scrolledFrom));
                        // return - (this.scrolledFrom * this.scrollDiff / 100  + (Math.abs(startItemInd - itemInd) * 80))
                        return - (this.scrolledFrom  * (Math.abs(startItemInd - itemInd)) / (this.columnsArrays[colInd].length - startItemInd))
                    } else {
                        return 0;
                    }
                }

            },
            getItemStyle (scroll,colInd,itemInd, scrollStart) {
                if(!this.$refs.columns) return ;
                let col = this.$refs.columns[colInd];
                let startItemInd = this.findFirstItemViewedIndInCol(col, this.delta);
                let y = this.columnsStart || (this.scrollAllowed && !this.itemSwift) ? 0 : this.getItemY(scroll,colInd,itemInd,startItemInd);
                let delay = 0;
                // if(!scrollStart) {
                //     if (this.delta === -1) {
                //         if (startItemInd <= itemInd) {
                //             delay = Math.abs(startItemInd - itemInd)/10;
                //         }
                //     } else {
                //         if (startItemInd => itemInd) {
                //             delay = Math.abs(startItemInd - itemInd)/10;
                //         }
                //     }
                // }


                return  {transform: `translate3d(0,${!scrollStart ? 0 : y}px,0)`,
                        transition:  `all ${colInd / 10 + .3}s ease-out  ${delay + 's'}`
                        }
            },
            findFirstItemViewedIndInCol(col, dir) {
                // let itemHeight = this.$refs.list.querySelector('.list__item').offsetHeight;
                let elArr = col.querySelectorAll('.list__item');
                if (dir === -1) {
                    for (let i = 0; i < elArr.length; i++) {
                        if (elArr[i].getBoundingClientRect().bottom > 0) return i;
                    }
                } else {
                    for (let i = elArr.length - 1; i >= 0; i--) {
                        if (elArr[i].getBoundingClientRect().bottom < window.innerHeight) return i;
                    }
                }
            },

        },
        created() {
            this.createColumnsStart();
            this.createColumnsArrays();
            this.createColumnsSwift();
        },
        mounted() {
            this.clearColumnsStart();
            document.querySelector('.container').style.height = document.body.scrollHeight + 'px';
        }
    }
</script>

<style scoped>
    .list {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 250px;
    }

    .list__col {
        width: 32%;
        /*transition: all .3s ease-out;*/
    }

    .list__col + .list__col {
        margin-left: 2%;
    }

    .list__item {
        width: 100%;
        height: 250px;
        background: #6084a2;
        margin-bottom: 20px;
        margin-top: 20px;
        position: relative;
    }

    .list__col:nth-child(1) {
        /*transition: all .2s ease-in;*/
    }

    .list__col:nth-child(1) .list__item {
        /*transition: all .2s cubic-bezier(.66, 0, 0.34, 1);*/
        /*transition: all .3s linear;*/
    }


    .list__col:nth-child(2) {
        /*transition: all .3s ease-in;*/
    }

    .list__col:nth-child(2) .list__item {
        /*transition: all .3s cubic-bezier(.66, 0, 0.34, 1);*/
        /*transition: all .2s ease-in-out;*/
    }

    .list__col:nth-child(3) {
        /*transition: all .4s ease-in;*/
    }

    .list__col:nth-child(3) .list__item {
        /*transition: all .3s cubic-bezier(.66, 0, 0.34, 1);*/
        /*transition: all .3s ease-out;*/
    }

    .list__item:nth-child(3n) {
        margin-right: 0;
    }
</style>
