<template>
    <div class="container"
    >
        <List :list="list"
              :scroll="scroll"
              :delta="delta"
              @animationEnd="scrollAllowed = true"
        />
    </div>
</template>

<script>
    import List from '@/components/List';

    export default {
        name: 'app',
        components: {
            List
        },
        data() {
            return {
                scroll: 0,
                scrollAllowed: true,
                delta: 1
            }
        },
        computed: {
            list () {
                return new Array(40).fill({id: Math.random()});
            }
        },
        methods: {
            onWheel (e) {
                // if(!this.scrollAllowed) return;
                // this.scrollAllowed = false;
                let self = this;
                // e.preventDefault();
                // e.stopPropagation();
                // cross-browser wheel delta
                let scrollHeight = Math.max(
                    document.body.scrollHeight, document.documentElement.scrollHeight,
                    document.body.offsetHeight, document.documentElement.offsetHeight,
                    document.body.clientHeight, document.documentElement.clientHeight
                );
                e = window.event || e; // old IE support
                this.delta = window.pageYOffset > this.scroll ? -1 : 1;
                // this.scroll = Math.max(Math.min(window.pageYOffset,scrollHeight),0);
                this.scroll = window.pageYOffset;
                // return false;
                console.log('test');
            },
        },
        mounted() {
            window.addEventListener('scroll', this.onWheel);
        }
    };
</script>

<style lang="scss">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
    body {
        background: #1e232d;
    }
    .logo{
        margin-top: 60px;
    }
    .social-list  {
        text-align: center;
        li{
            width: 1.5em;
            height: 1.5em;
            margin: 1em .5em;
            display: inline-block;
        }
    }

    .container {
        width: 100%;
        /*height: 100vh;*/
        /*overflow: hidden;*/
        overflow: hidden;
        padding-top: 80vh;
        background: #1e232d;
        /*padding-bottom: 500px;*/
    }
</style>
